.homePage {
  padding: 3rem;
}

.mainPage {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2rem;
  justify-content: center;
}

.card {
  border-radius: var(--border-radius-large);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px 0px !important;
  height: 500px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: scale(1.01);
  transition: all 0.3s;
}

.card .company_info {
  display: flex;
  gap: 1rem;
}

.card .heading {
  font-size: var(--text-size-normal);
  font-weight: 600;
  letter-spacing: 1px;
  color: #8b8b8b;
  margin: 0;
}
.card .text {
  margin: 5px 0;
  font-weight: 400;
  font-size: var(--text-size-normal);
  text-transform: capitalize;
}

.card .company_info img {
  height: 50px;
  width: 50px;
}

.card .company_info h3:hover {
  cursor: pointer;
  text-decoration: underline;
}

.card .company_info p {
  font-size: 13px;
  margin: 0;
  font-weight: 600;
  text-transform: capitalize;
}

.card .salary {
  color: #8b8b8b;
  margin: 10px 0;
  font-weight: 500;
}

.card .about {
  position: relative;
  height: 250px;
  overflow: hidden;
  mask-image: linear-gradient(white, transparent);
}

.card .about h3 {
  font-weight: 600;
}

.card .showMore {
  text-align: center;
  margin-top: -10px;
  cursor: pointer;
  font-weight: 600;
  position: relative;
  margin-bottom: 30px;
}

.card .applyButton {
  border-radius: var(--border-radius-light);
  padding: var(--padding-medium);
  width: 100%;
  border-width: 0;
  font-weight: 600;
  font-size: var(--text-size-normal);
  background: #55efc4;
  cursor: pointer;
}

.descriptonPopupContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.descriptonPopup {
  width: 300px;
  background: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: var(--border-radius-large);
  border: 2px solid black;
}

.descriptonPopup h2 {
  text-align: center;
}

.descriptonPopup p {
  text-align: justify;
  font-size: var(--text-size-normal);
}

.descriptonPopup .popupClose {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
}

.descriptonPopup .popupClose:hover {
  text-decoration: underline;
}

/* /////// */
/* Filters */
/* /////// */

.filterContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  margin-bottom: 2rem;
}

.filterSearch {
  border: var(--filter-border-style);
  border-radius: var(--border-radius-light);
  text-indent: 15px;
  padding: var(--paddingy-medium);
}
